PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/my_express_db

# PostgreSQL / MySQL Prisma Connection
DATABASE_URL=postgresql://user:password@localhost:5432/my_express_db?schema=public

# JWT Security
JWT_SECRET=super_secret_jwt_key_change_in_production_123456789
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=*
